<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Register | OnlineBookstore</title>
<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/4.3.1/css/bootstrap.min.css" />
</head>
<body>
	<div class="container col-lg-3">
		<form class="needs-validation border border-dark-1" method="POST"
			th:action="@{${userLogin}}" style="margin-top: 15%;" novalidate>
			<a th:href="@{/}"> <img
				th:src="@{/images/onlinebookstore-logo.png}" alt="" width="20%;"
				class="mt-4"
				style="display: block; margin-left: auto; margin-right: auto;"></a>
			<h3 class="mt-4 ml-4" style="text-align: center;">Sign in</h3>
			<div class="form-row ml-4 mr-4">
				<div class="col-md-12 mb-3">
					<hr>
					<div
						th:if="${(param.error != null) and (param.error[0] == 'true')}">
						<div class="alert alert-danger">Your email or password is
							incorrect! Please try again.</div>
					</div>
					<div th:if="${REGISTRATION_SUCCESSFUL_MESSAGE != null}">
						<div class="alert alert-success"
							th:text="${REGISTRATION_SUCCESSFUL_MESSAGE}"></div>
					</div>
					<div th:if="${LOGOUT_SUCCESSFUL_MESSAGE != null}">
						<div class="alert alert-success"
							th:text="${LOGOUT_SUCCESSFUL_MESSAGE}"></div>
					</div>
					<div th:if="${PASSWORD_RESET_SUCCESSFUL}">
						<div class="alert alert-success">[[${PASSWORD_RESET_SUCCESSFUL}]]
						</div>
					</div>

					<label for="validationCustom01"></label> <input type="text"
						class="form-control" placeholder="Email" name="username" required>
					<div class="invalid-tooltip">Please enter a valid email!</div>
				</div>
			</div>
			<div class="form-row ml-4 mr-4">
				<div class="col-md-12 mb-3">
					<label for="validationCustom01"></label> <input type="password"
						class="form-control" placeholder="Password" name="password"
						required>
					<div class="invalid-tooltip">Please enter a valid password!</div>
				</div>
			</div>
			<div class="form-row ml-4 mr-4 mb-4">
				<div class="col-md-12 mb-3 mt-4">
					<button class="btn btn-primary btn-block" type="submit">Sign
						in</button>
				</div>
				<a class="" href="/register">New customer? Register here </a> <br>
				<a class="" th:href="@{/account/password/reset}">Forgot
					password? Reset here</a>
			</div>

		</form>

	</div>
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document
								.getElementsByClassName('needs-validation');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script>
	<th:block th:insert="fragments/footer.html :: footer"></th:block>
</body>
</html>