<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<th:block th:insert="fragments/general.html :: head-links"></th:block>
<title>Reset Password | OnlineBookstore</title>
</head>
<body>
	<th:block th:replace="fragments/general.html :: navbar"></th:block>
	<div class="container col-lg-3 mt-4">
		<th:block th:if="${TOKEN_VALID}">
			<form class="needs-validation border border-dark-1" method="POST"
				th:action="@{/account/password/reset/change.do}"
				style="margin-top: 15%;" novalidate>
				<a th:href="@{/}"> <img
					th:src="@{/images/onlinebookstore-logo.png}" alt="" width="20%;"
					class="mt-4"
					style="display: block; margin-left: auto; margin-right: auto;"></a>

				<h3 class="mt-4 ml-4" style="text-align: center;">Enter new
					password</h3>
				<hr>
				<div class="form-row ml-4 mr-4">
					<th:block th:if="${PASSWORD_MATCH_ERROR}">
						<div class="alert alert-danger">[[${PASSWORD_MATCH_ERROR}]]</div>
					</th:block>
					<div class="col-md-12 mb-3">
						<label for="validationCustom01"></label> <input type="password"
							class="form-control" placeholder="New password" name="password"
							required>
						<div class="invalid-tooltip">Please enter a valid password!</div>
					</div>
				</div>
				<div class="form-row ml-4 mr-4">
					<div class="col-md-12 mb-3">
						<label for="validationCustom01"></label> <input type="password"
							class="form-control" placeholder="Confirm password"
							name="confirmPassword" required>
						<div class="invalid-tooltip">Please enter a valid password!</div>
					</div>
				</div>

				<div class="form-row ml-4 mr-4 mb-4">
					<div class="col-md-12 mb-3 mt-4">
						<button class="btn btn-primary btn-block" type="submit">Submit</button>
					</div>
				</div>
				<input type="hidden" name="token" th:value="${(param.token[0])}">
			</form>
		</th:block>
		<th:block th:if="${TOKEN_ERROR}">
			<h3 style="text-align: center;">Password Reset</h3>
			<div class="alert alert-warning mt-4">[[${TOKEN_ERROR}]]</div>

		</th:block>
	</div>
	<script>
		// Example starter JavaScript for disabling form submissions if there are invalid fields
		(function() {
			'use strict';
			window.addEventListener('load',
					function() {
						// Fetch all the forms we want to apply custom Bootstrap validation styles to
						var forms = document
								.getElementsByClassName('needs-validation');
						// Loop over them and prevent submission
						var validation = Array.prototype.filter.call(forms,
								function(form) {
									form.addEventListener('submit', function(
											event) {
										if (form.checkValidity() === false) {
											event.preventDefault();
											event.stopPropagation();
										}
										form.classList.add('was-validated');
									}, false);
								});
					}, false);
		})();
	</script>
	<th:block th:insert="fragments/footer.html :: footer"></th:block>
	<th:block th:insert="fragments/general.html :: scripts"></th:block>
</body>
</html>